/**
  index.css
  silas styles
*/

body {
  background: rgb(14, 17, 29);
  position: relative;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 15px;
  color: white;
}

#cog {
  color: white;
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 1.5em;
}
